<div class="nav" >
    <button routerLink="/" class="button" data-text="Awesome">
      <span class="actual-text">&nbsp;FoodMart&nbsp;</span>
      <span aria-hidden="true" class="hover-text">&nbsp;FoodMart&nbsp;</span>
      </button>
       
    <div class="box">
        <a routerLink="/register" *ngIf="!authService.isLoggedUser()">Register</a>  
        <a routerLink="/login" *ngIf="!authService.isLoggedUser()">Login</a>
    
        <a class="user" *ngIf="authService.isLoggedUser()">{{authService.getUsername() | titlecase }} / {{authService.getRole()}}</a>
        <a routerLink="/" *ngIf="authService.isLoggedUser()">Home</a> 

        <div class="dropdown" *ngIf="authService.isLoggedUser()">
            <a class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" type="button" aria-expanded="false">Food</a>
            <ul class="dropdown-menu">
              <li><p *ngIf="authService.isAdmin()" class="dropdown-item" routerLink="/adminAddFood">Add Food</p></li>
              <li><p *ngIf="authService.isAdmin()" class="dropdown-item" routerLink="/adminViewFood">View Food</p></li>
              <li><p *ngIf="authService.isUser()" class="dropdown-item" routerLink="/userViewFood">View Food</p></li>
            </ul>
        </div>

        <a routerLink="/userViewOrders" *ngIf="authService.isUser()">My Orders</a> 

        <a routerLink="/adminViewOrders" *ngIf="authService.isAdmin()">Order Details</a> 

        <div class="dropdown" *ngIf="authService.isUser()">
            <a class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" type="button" aria-expanded="false">Feedback</a>
            <ul class="dropdown-menu">
              <li><p class="dropdown-item" routerLink="/userAddFeedback">Add Feedback</p></li>
              <li><p class="dropdown-item" routerLink="/userViewFeedback">My Feedback</p></li>
            </ul>
        </div>

        <a routerLink="/adminViewFeedback" *ngIf="authService.isAdmin()">Feedbacks</a> 
        <a routerLink="/adminOrdersChart" *ngIf="authService.isAdmin()">Orders Chart</a> 

        <button class="logout" (click)="logout()" *ngIf="authService.isLoggedUser()"><b>Logout</b></button>

    </div>
</div>

<div class="dialog-overlay" *ngIf="showDialog">
  <div class="dialog-box">
    <h2>Logout</h2>
    <p>Are you sure you want to logout?</p>
    <div >
    <button class="btn btn-success" (click)="onDialogConfirm(true)">Yes</button>
    <button class="btn btn-danger" (click)="onDialogConfirm(false)">No</button> </div>
  </div>
</div>